# Database
MYSQL_ROOT_PASSWORD=rootpassword_change_me
MYSQL_DB_NAME=moodle
MYSQL_DB_USER=moodle
MYSQL_DB_PASSWORD=moodlepass_change_me

# Moodle Admin
MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=Admin@1234_change_me
MOODLE_ADMIN_EMAIL=admin@example.com
MOODLE_SITE_NAME=Ranees EdTech
MOODLE_SITE_SHORTNAME=edtech
MOODLE_WWWROOT=https://moodle.example.com
MOODLE_THEME=edtech
MOODLE_SSLPROXY=true
MOODLE_REVERSEPROXY=true
